html { 
    box-sizing: border-box; 
}
*, *::before, *::after {
    box-sizing: inherit; 
}

body{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.modal{
    display: none;
}

.title__wrapper{
    background-color: #f9f5f0;
}

.main-title{
    font-size: 30px;
    line-height: 30px;
}

.main-text{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.main-btn{
    background-color: #ee3643;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.main-btn:hover{
    background-color: #ca2c37;
}

.main-btn:active{
    background-color: #ba2732;
}

.inner-btn{
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #fff;
}

.header{
    background-color: #f3f7f8;
}

.header a{
    text-decoration: none;
}

.header ul{
    list-style: none;
}

.header__top{
    background-color: #293449;
    color: #fff;
}

.logo{
    background-color: #ee3643;
}

.logo:hover,
.logo:active{
     background-color: #ca2c37;
}

.header__search,
.header__links a {
    font-size: 17px;
    line-height: 18px;
}

.header__search{
    background-color: #293449; 
    color: #fff;
    border: none;
}

.header__search::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.header__search::placeholder{
    color: #fff;
}

.header__search:hover,
.header__links a:hover{
    background-color: #212a3a;
}

.header__search:focus {
    background-color: #fff;
    color: #000;
}

.links-active{
    background-color: #ee3643;
}

.header__links a:active{
    background-color: #161d29;
    color: #8b8e94;
}

.header__links a{
    color: #fff;  
}

.header__links-order{
    background-color: #63a63e;
}

.header__links .header__links-order:hover{
    background-color: #5fbb2d;
}

.header__links .header__links-order:active{
    color: #b6c8ae;
    background-color: #518534;
}

.header__text {
    font-style: italic;
    font-size: 16px;
    color: #ee3643;
    line-height: 23px;
}

.header__contacts a{
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
}

.header__contacts p{
    line-height: 24px;
    color: #32425c;
}

.header__login li{
    background-color: #fff;
    font-size: 21px;
    line-height: 21px;
}

.header__login a{  
    color: #000;
}

.header__login a:hover{
    color: #ee3643;
}

.header__login a:active{
    color: #cacaca;
}

.header__user-top{
    background-color: #fff;
}

.header__user-name{
    font-size: 21px;
    line-height: 21px;
    color: #000;
}

.header__user-name:active{
    color: #b2b2b2;
}

.header__user-logout{
    background-image: url(../img/icon-logout.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 22px;
    width: 22px;
    border: none;
    cursor: pointer; 
}

.header__user-links a{
    text-decoration: underline;
    color: #32425c;
    font-size: 16px;
    line-height: 18px;
}

.header__user-links a:hover{
    color: #ee3643;
}

.header__user-links a:active{
    color: #c3c9d1;
}

.header__user-links li:last-child{
    list-style: disc;
    color: #32425c;
}

.header__menu{
    background-color: #32425c;
}

.header__menu li{
    font-size: 17px;
    line-height: 17px;
}

.header__menu a{
    color: #fff;
}

.header__menu a:hover{
    background-color: #293449;
}

.header__menu a:active{
    background-color: #1d2739;
    color: #8e939c;
}

.feature {
    color: white;
}

.feature ul{
    list-style: none;
}

.feature__item:first-child{
    background-color: #ffbf47;
}

.feature__item:nth-child(2){
    background-color: #3bbce3;
}

.feature__item:nth-child(3){
    background-color: #dc91d8;
}

.feature__item:nth-child(5){
    background-color: #8ed78f;
}

.feature__item:last-child{
    background-color: #ffc047;
}

.feature__title{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.feature__btn{
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.feature__btn:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.feature__btn:active{
    background-color: rgba(0, 0, 0, 0.3);
}

.slider__arrow-prev,
.slider__arrow-next{
    width: 24px;
    height: 42px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
}

.slider__arrow-prev{
    background-image: url(../img/icon-left.svg);  
}

.slider__arrow-next{
    background-image: url(../img/icon-right.svg);  
}

.feature__slider-item{
    background-repeat: no-repeat;
}

.feature__slider-item:first-of-type{
    background-image: url(../img/feature__slider-item-1.jpg);
}

.feature__slider-item:last-of-type{
    background-image: url(../img/feature__slider-item-2.jpg);
}

.feature__slider-title{
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.feature__slider-text{
    font-size: 18px;
    line-height: 24px;
}

.producs__title,
.firms__title{
    color: #32425c;
}

.firms__list{
    list-style: none;
}

.firms__item:active{
    opacity: 0.3;
}

.service{
    background-color: #f4f8f9;
}

.service__btns-list,
.service__list{
    list-style: none;
}

.service__btn{
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: white;
    background-color: #32425c;
    border: none;
}

.service__btn:hover{
    background-color: #293449;
    color: white;
}

.btn-active{
    color: #32425c;
    background-color: #fff;
}

.service__item{
    background-repeat: no-repeat;
    background-position: 100% 0%;
}

.service__item:first-child{
    background-image: url(../img/Delivery-img.png);
}

.service__item:nth-child(2){
    background-image: url(../img/guaranti-img.png);
}

.service__item:last-child{
    background-image: url(../img/credit-img.png);
}

.service__item-title{
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
}

.about__title{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.about__list{
    list-style: none;
    font-size: 18px;
    line-height: 20px;
}

.about__map{
    text-decoration: none;
}

.catalog__breadcrumbs{
    list-style: none;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.catalog__breadcrumbs a{
    color: #000;
    text-decoration: none;
}

.catalog__breadcrumbs-home a{
    background-image: url(../img/icon-home.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 14px;
}

.catalog__title{
    color: #32425c;
    background-color: #f2f6f8;
}

.filters{
    font-family: 'PT Sans', Arial, sans-serif;
}

.filters ul{
    list-style: none;
}

.filters__title,
.price__sorting-title{
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #f7f3ec;
    font-weight: 500;
}

.filters__range{
    background-color: #f7f3ec;
}

.filters__range-line{
    background-color: #d7dcde;
}

.filters__range-start,
.filters__range-finish{
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    background-color: #f7f3ec; 
    border: none;
}

.filters__subtitle{
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
}

.filters__name{
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.price{  
    font-family: 'PT Sans', Arial, sans-serif;
}

.price ul{
    list-style: none;
}

.price__sorting{
    background-color: #f7f3ec;
}

.price__sorting-item{
    text-decoration: none;
    color: #c7c7c7;
    border-bottom: 1px dashed #ee3643;
}

.price__sorting-item:hover{
    color: #000;
    border-bottom: 1px solid #ee3643;
}

.sorting-active{
    border: none;
    color: #ee3643;
}

.price__sorting-up,
.price__sorting-down{
    background-repeat: no-repeat;
}

.price__sorting-up{
    background-image: url(../img/icon-up-dir.svg);
}

.price__sorting-down{
    background-image: url(../img/icon-down-dir.svg);
}

.price p{
    text-align: center;
}

.price__title{
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
}

.price__title span{
    text-transform: uppercase;
}

.price__cost-sale,
.price__cost{
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.price__cost-sale{
    text-decoration: line-through;
    color: #999;
}

.price__cost{
    color: #fff;
    background-color: #ee3643;
}

.price__page-number,
.price__page-btn{
    text-decoration: none;
    color: #000;
}

.page-active{
    color: #fff;
    background-color: #ee3643;
}

.footer{
    background-color: #32425c;
    color: #fff;
}

.footer a{
    text-decoration: none;
    color: #fff;
}

.footer ul{
    list-style: none;
}

.footer__contacts{
    font-size: 18px;
    line-height: 24px;
}

.footer__menu,
.footer__menu-sub{
    font-size: 18px;
    line-height: 24px;
}

.footer__menu-sub a,
.footer__link a{
    color: #ffd180;
}

.footer__menu a:hover,
.footer__menu-sub a:hover{
    text-decoration: underline;
}

.footer__menu a:active,
.footer__menu-sub a:active{
    opacity: 0.5;
    text-decoration: none;
}

.footer__bottom{
    background-color: #293449;
}

.footer__copyright{
    font-size: 16px;
    line-height: 18px;
}

.footer__social a{
    background-repeat: no-repeat;
    background-position: center;
    background-color: #212a3a;
    border-radius: 50%;
}

.vk{
    background-image: url(../img/icon-vk.svg);
    width: 30px;
    height: 17px;
}

.fb{
    background-image: url(../img/icon-fb.svg);
    width: 14px;
    height: 23px;
}

.instagram{
    background-image: url(../img/icon-insta.svg);
    width: 23px;
    height: 23px;
}

.footer__link{
    font-size: 16px;
    line-height: 18px;
}

.footer__link a:hover{
    text-decoration: underline;
}

.footer__link a:active{
    text-decoration: none;
    color: #ee3643;
}