html{ 
    -webkit-box-sizing: border-box; 
            box-sizing: border-box; 
}

*,
*::before,
*::after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit; 
}

body{
    min-width: 960px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    width: 960px;
    margin:0 auto;
    padding: 0px 10px;
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.modal{
    display: none;
}

.title__wrapper{
    background-color: #f9f5f0;
}

.flag-new::before{ 
    content: "новинка"; 
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 59px;
    text-indent: -2000px;
    color: transparent;
    z-index: 5;
    background: url("../img/new-flag.png");
}

.main-title{
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.main-text{
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}

.main-btn{
    padding: 11px 5px 9px;
    border-radius: 4px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ee3643;
}

.main-btn:hover{
    background-color: #ca2c37;
}

.main-btn:active{
    background-color: #ba2732;
}

.inner-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #ffffff;
}

.inner-btn:hover{
    border-color: #bdc6ca;
}

.inner-btn:active{
    border-color: #ee3643;
}

.header{
    background-color: #f3f7f8;
}

.header a{
    text-decoration: none;
}

.header ul{
    list-style: none;
}

.header__top{
    background-color: #293449;
    color: #ffffff;
    min-height: 42px;
}

.header__top-inner{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo{
    max-width: 220px;
    width: 100%;
    text-align: center;
    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}

.header__logo{
    position: absolute;
    top: -4px;
    left: 0;
    padding-top: 17px;
    padding-bottom: 7px;
}

.logo:hover{
    background-color: #ca2c37;
    border-bottom-color: #9a212a; 
}

.logo:active{
    background-color: #ba2732;
    border-bottom-color: #8e1e26; 
}

.header__search,
.header__links a{
    font-size: 17px;
    line-height: 18px;
}

.header__search-form{ 
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 270px;
    width: 100%;
    margin-left: 220px;
}

.header__search-ico{
    position: absolute;
    width: 17px;
    height: 17px;
    background-image: url(../img/icon-search.svg);
    top: 50%;
    left: 16px;
    opacity: 0.3;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.header__search{
    background-color: #293449;
    color: #ffffff;
    border: none;
    height: 42px;
    padding-left: 48px;
    width: 100%;
}

.header__search::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

.header__search::-webkit-input-placeholder{
    color: #ffffff;
}

.header__search::-moz-placeholder{
    color: #ffffff;
}

.header__search:-ms-input-placeholder{
    color: #ffffff;
}

.header__search::-ms-input-placeholder{
    color: #ffffff;
}

.header__search::placeholder{
    color: #ffffff;
}

.header__search:hover{
    background-color: #212a3a;
    color: #ffffff;
}

.header__search:focus{
    background-color: #ffffff;
    color: #000000;
}

.header__search:focus + .header__search-ico{
    opacity: 1;
}

.header__search:hover + .header__search-ico path{
    fill: #ffffff;
}

.header__search:focus + .header__search-ico path{
    fill: #ee3643;
}

.header__links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.header__links-item{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-width: 150px;
    padding-right: 5px;
    padding-left: 5px;
    height: 42px;
    color: #ffffff; 
}

.header__links-item:first-child{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 44px;
}

.header__links-item:nth-child(2){
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 49px;
}

.header__links-item:not(:last-child)::before{
    content: "";
    position: absolute;
    top: 48%;
    left: 17px;
    opacity: 0.3;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.header__links-item:nth-child(1)::before{
    width: 14px;
    height: 16px;
    background-image: url(../img/icon-bookmark.svg);
}

.header__links-item:nth-child(2)::before{
    width: 15px;
    height: 15px;
    background-image: url(../img/icon-cart.svg);
}

.header__links-item:not(:last-child):hover::before,
.header__search-form:hover .header__search-ico{
    opacity: 1;
}

.header__links-item:hover{
    background-color: #212a3a;
    color: #ffffff;
}

.header__links-item:not(:last-child):active::before{
    opacity: 0.5;
}

.header__links-item:active{
    background-color: #161d29;
    color: #8b8e94;
}

.links-active,
.links-active:hover,
.links-active:active{
    background-color: #ee3643;
    color: #ffffff;
}

.header__links-order{
    background-color: #63a63e;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.header__links-order:hover{
    background-color: #5fbb2d;
}

.header__links-order:active{
    color: #b6c8ae;
    background-color: #518534;
}

.header__inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 44px;
    margin-bottom: 38px;
}

.header__text-box{
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-top: 5px;
}

.header__text{
    font-style: italic;
    font-size: 16px;
    color: #ee3643;
    line-height: 23px;
    max-width: 197px;
    margin: 0;
}

.header__text{
    margin-left: 52px;
}

.header__contacts{
    max-width: 280px;
    margin-left: 40px;
}

.header__contacts-phone{
    position: relative;
    display: block;
    padding: 8px 49px 9px 71px;
    border: 3px solid #ffffff;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.3px;
    color: #ee3643;
}

.header__contacts-phone::before{
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    background-image: url(../img/icon-phone.svg);
    top: 50%;
    left: 12px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.header__contacts-adress{
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 24px;
    color: #32425c;
    text-align: center;
}

.header-login__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 331px;
    padding-left: 30px;
    margin-top: 0;
    margin-bottom: 20px;
}

.header-login__wrapper li{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.header-login__wrapper a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 46px;
    padding-left: 24px;
    padding-right: 25px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    letter-spacing: -0.6px;
    color: #000000;
    background-color: #ffffff;
}

.header__login a{
    padding-right: 27px;
    padding-left: 46px;
}

.header__login{
    position: relative;
}

.header__login:hover path{
    fill: #32425c;
}

.header__login:active path{
    fill:#c5c5c5;
}

.header__login-ico{
    content: "";
    position: absolute;
    width: 20px;
    height: 17px;
    background-image: url(../img/icon-login.svg);
    top: 43%;
    left: 24px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.header-login__wrapper a:hover{
    color: #ee3643;
}

.header-login__wrapper a:active{
    color: #cacaca;
}

.header__user{
    max-width: 322px;
    padding-left: 20px;
    margin-top: 2px;
}

.header__user-top{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-bottom: 6px;
    background-color: #ffffff;
}

.header__user-name{
    padding: 12px 36px 12px 47px;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.header__user-ico{
    position: absolute;
    width: 20px;
    height: 18px;
    top: 50%;
    left: 13px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.header__user-name:hover path{
    fill: #32425c;
}

.header__user-name:active{
    color: #b2b2b2;
}

.header__user-name:active path{
    fill: #c5c5c5;
}

.header__user-logout{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer; 
    padding-right: 10px;
}

.header__user-logout:hover path{
    fill: #32425c;
}

.header__user-logout:active path{
    fill: #c5c5c5;
}

.header__user-links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
    margin-top: 7px;
    margin-right: 25px;
    margin-bottom: 0;
}

.header__user-links a{
    padding-right: 29px;
    text-decoration: underline;
    color: #32425c;
    font-size: 16px;
    line-height: 18px;
}

.header__user-links a:hover{
    color: #ee3643;
}

.header__user-links a:active{
    color: #c3c9d1;
}

.header__user-links li:not(:first-child){
    list-style: disc;
    color: #32425c;
}

.header__menu{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 940px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 60px;
    background-color: #32425c;   
}

.header__menu li{
    font-size: 17px;
    line-height: 17px;
    background-color: #32425c;
}

.header__menu a{
    display: block;
    padding: 20px 32px 23px 29.5px;
    color: #ffffff;
}

.header__menu a:hover{
    background-color: #293449;
}

.header__menu a:active{
    background-color: #1d2739;
    color: #8e939c;
}

.feature{
    color: #ffffff;
}

.feature__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 59px;
    margin-bottom: 32px;
}

.feature ul{
    padding-left: 0;
    list-style: none;
}

.feature__item.flag-new::before{
    top: 0;
    right: 0;
}

.feature__item{
    position: relative;
    max-width: 300px;
    width: 100%;
    min-height: 123px;
    margin-bottom: 20px;
}

.feature__item::after{
    content: "";
    position: absolute;
    top: 30px;
    right: 31px;
}

.feature__item:first-child{
    background-color: #ffbf47;
}

.feature__item:first-child::after{
    top: 31px;
    right: 43px;
    background-image: url(../img/icon-1.svg);
    width: 44px;
    height: 65px;
}

.feature__item:nth-child(2){
    background-color: #3bbce3;
}

.feature__item:nth-child(2)::after{
    top: 33px;
    right: 28px;
    background-image: url(../img/icon-2.svg);
    width: 75px;
    height: 61px;
}

.feature__item:nth-child(3){
    background-color: #dc91d8;
}

.feature__item:nth-child(3)::after{
    top: 31px;
    right: 31px;
    background-image: url(../img/icon-3.svg);
    width: 78px;
    height: 62px;
}

.feature__items-right .feature__item:nth-child(1){
    background-color: #8ed78f;
}

.feature__items-right .feature__item:nth-child(1)::after{
    top: 26px;
    right: 45px;
    background-image: url(../img/icon-4.svg);
    width: 59px;
    height: 72px;
}

.feature__items-right .feature__item:nth-child(2){
    background-color: #ffc047;
}

.feature__items-right .feature__item:nth-child(2)::after{
    top: 32px;
    right: 31px;
    background-image: url(../img/icon-5.svg);
    width: 78px;
    height: 63px;
}

.feature__items-right{
    max-width: 300px;
    width: 100%;
}

.feature__item.slider{
    max-width: 620px;
    width: 100%;
    height: 266px;
}

.feature__title{
    max-width: 168px;
    margin-top: 0;
    padding-top: 21px;
    margin-bottom: 13px;
    margin-left: 22px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.feature__btn{
    display: block;
    max-width: 135px;
    width: 100%;
    padding: 10px 5px 9px;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-left: 25px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.feature__btn:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.feature__btn:active{
    background-color: rgba(0, 0, 0, 0.3);
}

.feature__item.slider{
    position: relative;
}

.feature__slider-item{
    display: none;
}

.feature__slider-control{
    max-width: 620px;
    width: 100%;
    height: 262px;
    position: absolute;
}

.slider__arrow-prev,
.slider__arrow-next{
    width: 22px;
    height: 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    position: absolute;
}

.slider__arrow-prev{
    left: 25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url(../img/icon-left.svg);  
}

.slider__arrow-next{
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url(../img/icon-right.svg);  
}

.slider-dots__wrapeer{
    position: absolute;
    bottom: 30px;
    right: 46.4%;
    cursor: default;
}

.slider__dots-title{
    font-size: 0;
    padding-right: 16.9px;  
}

.slider__dots-title::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.slider__dots:nth-of-type(1):focus ~ .slider-dots__wrapeer .slider__dots-title:nth-of-type(1)::before,
.slider__dots:nth-of-type(2):focus ~ .slider-dots__wrapeer .slider__dots-title:nth-of-type(2)::before{
    -webkit-box-shadow: 0px 0px 0px 2px #a2c2f5;
            box-shadow: 0px 0px 0px 2px #a2c2f5; 
}

.slider__dots:nth-of-type(1):checked ~ .slider-dots__wrapeer .slider__dots-title:nth-of-type(1)::before,
.slider__dots:nth-of-type(2):checked ~ .slider-dots__wrapeer .slider__dots-title:nth-of-type(2)::before{
    background-color: #ee3643;
} 

.slider__dots:first-of-type:checked ~ .feature__slider .feature__slider-item:nth-of-type(1),
.slider__dots:last-of-type:checked ~ .feature__slider .feature__slider-item:nth-of-type(2){
    display: block;
}

.feature__slider-item{
    height: 266px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
}

.feature__slider-item:nth-of-type(1){
    background-image: url(../img/feature__slider-item-1.jpg);
}

.feature__slider-item:nth-of-type(2){
    background-image: url(../img/feature__slider-item-2.jpg);
}

.feature__slider-title{
    margin: 0;
    padding-top: 24px;
    padding-left: 24px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.feature__slider-text{
    margin-top: 2px;
    padding-left: 24px;
    font-size: 18px;
    line-height: 24px;
}

.feature__slider-btn{
    position: absolute;
    bottom: 22px;
    left: 25px;
    max-width: 260px;
    padding-left: 49px;
    padding-right: 47px;
}

.title__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 90px;
}

.producs.price{
    max-width: none;
}

.producs__title,
.firms__title{
    margin-left: 28px;
    color: #32425c;
}

.producs__btn,
.firms__btn{
    min-width: 253px;
    text-align: center;
    margin-right: 24px;
}

.producs__title,
.producs__btn{
    font-family: "Cuprum", Arial, sans-serif;
}

.producs__list{
    margin-top: 20px;
    margin-bottom: 0;
}

.producs__list .price__item:not(:nth-child(3n)){
    margin-right: 0;
}

.producs__list .price__item:not(:nth-child(4n)){
    margin-right: 20px;
}

.firms__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 65px;
}

.firms__item{
    max-width: 220px;
    width: 100%;
    min-height: 145px;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
}

.firms__item:hover{
   -webkit-box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
           box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5); 
}

.firms__item:active{
    -webkit-box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
            box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
}

.firms__item:not(:nth-child(4n)){
    margin-right: 20px;
}

.firms__item a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
}

.firms__item a:active{
    opacity: 0.3;
}

.service{
    background-color: #f4f8f9;
}

.service__title{
    padding-top: 65px;
    margin-top: 0;
    margin-bottom: 26px;
}

.service__text{
    max-width: 416px;
    margin-top: 0;
    margin-bottom: 0;
}

.service-tabs__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 6px;
}

.service__btns-list,
.service__list{
    padding-left: 0;
    list-style: none;
}

.service__btns-list{
    margin-top: -20px;
}

.service__list{
    position: relative;
    max-width: 700px;
    width: 100%;
    min-height: 285px;
    margin-bottom: 0;
}

.service__list::before{
    content: "";
    position: absolute;
    right: 100%;
    top: 45%;
    width: 10px;
    height: 272px;
    background-image: url(../img/about-shadow.png);
    background-repeat: no-repeat;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
}

.service__btn{
    min-width: 240px;
    padding: 15px 15px 15px 22px;
    border: none;
    border-top: 1px solid #293449;
    border-bottom: 1px solid #405069;
    text-align: left;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    background-color: #32425c;
}

.service__btn:hover{
    background-color: #293449;
    color: #ffffff;
}

.btn-active,
.btn-active:hover,
.btn-active:active{
    border: none;
    color: #32425c;
    background-color: #ffffff;
}

.service__item{
    display: none;
    padding-left: 80px;
    min-height: 285px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.service__tab-show{
    display: block;
}

.service__item:first-child{
    background-image: url(../img/delivery-img.png);
}

.service__item:nth-child(2){
    background-image: url(../img/guaranti-img.png);
}

.service__item:last-child{
    background-image: url(../img/credit-img.png);
}

.service__item-title{
    margin-top: 48px;
    margin-bottom: 25px;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 36px;
    letter-spacing: -0.5px;
    color: #32425c;
}

.service__text{
    margin-top: 0;
    margin-bottom: 0;
}

.service__text:last-child{
    padding-bottom: 15px;
}

.delivery .service__text{
    max-width: 280px;
}

.delivery  .service__text:nth-of-type(2){
    max-width: 175px;
}

.guaranti .service__text{
    max-width: 380px;
}

.service__item-btn{
    display: block;
    margin-top: 32px;
    max-width: 196px;
}

.about__inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.about__left{
    max-width: 530px;
}

.about__right{
    max-width: 300px;
}

.about__title{
    margin-top: 79px;
    margin-bottom: 26px;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.about__text{
    margin-bottom: 24px;
    letter-spacing: 0.1px;
}

.about__text:nth-of-type(2){
    max-width: 395px;
    margin-bottom: 21px;
}

.about__right .about__text{
    max-width: 183px;
    margin-bottom: 31px;
}

.about__list{
    list-style: none;
    padding-left: 35px;
    font-size: 18px;
    line-height: 20px;
}

.about__list-item{
    position: relative;
    margin-bottom: 20px;
}

.about__list-item::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #ee365a;
    left: -35px;
    top:50%;
}

.about__btn{
    display: block;
    margin-top: 37px;
    margin-bottom: 85px;
}

.about__btn:first-of-type{
    max-width: 220px;
}

.about__map{
    text-decoration: none;
}

.catalog__breadcrumbs{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
    margin-top: 22px;
    list-style: none;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.catalog__breadcrumbs li{
    position: relative;
    padding-bottom: 5px;
}

.catalog__breadcrumbs li + li::before{
    content: "";
    position: absolute;
    left: 11px;
    top: 3px;
    width: 9px;
    height: 9px;
    border: 1px solid #c5c9d1;
    border-bottom-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.catalog__breadcrumbs li + li{
    padding-left: 42px;
}

.catalog__breadcrumbs a{
    color: #000000;
    text-decoration: none;
}

.catalog__breadcrumbs-home a{
    display: block;
    background-image: url(../img/icon-home.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 13px;
    margin-top: -5px;
}

.catalog__title{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 28px;
    margin-top: 14px;
    color: #32425c;
    background-color: #f2f6f8;
}

.catalog__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.filters{
    max-width: 223px;
    width: 100%;
    margin-right: 17px;
    font-family: "PT Sans", Arial, sans-serif;
}

.filters ul{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.filters__set{
    padding: 0;
    border: none;
    margin: 0;
}

.filters__set li{
    max-width: 220px;
    padding-left: 34px;
}

.filters__set li + li{
    padding-top: 20px;
}

.filters__set:not(:last-of-type){
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
}

.filters__title,
.price__sorting-title{
    padding-left: 20px;
    border-radius: 4px;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #f7f3ec;
    font-weight: 500;
}

.price__sorting-title{
    max-width: 240px;
}

.filters__title{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    margin-bottom: -9px;
}

.filters__range{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 220px;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #f7f3ec;
}

.filters__range-line{
    position: relative;
    width: 170px;
    height: 2px;
    background-color: #d7dcde;
}

.filters__range-selected{
    width: 140px;
    height: 2px;
    background-color: #00ca74;
}

.range__control{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-box-shadow: 0px 1px 4px -2px #000000;
            box-shadow: 0px 1px 4px -2px #000000;
}

.range__control-left{
    left: -5px;
}

.range__control-right{
    right: 15px;
}

.filters__range-numbers{
    position: relative;
}

.filters__range-numbers::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 1px;
    background-color: #000000;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.filters__range-start,
.filters__range-finish{
    max-width: 95px;
    width: 100%;
    border: none;
    padding-top: 6px;
    padding-bottom: 10px;
    border-radius: 4px;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    background-color: #f7f3ec;
}

.filters__range-start::-webkit-outer-spin-button,
.filters__range-start::-webkit-inner-spin-button,
.filters__range-finish::-webkit-outer-spin-button,
.filters__range-finish::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.filters__range-start{
    margin-right: 28px;
}

.filters__subtitle{
    padding-top: 21px;
    padding-bottom: 14px;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.filters__name-checkbox,
.filters__name-radio{
    position: relative;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.filters__name-checkbox::before,
.filters__name-radio::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -34px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0.79;
}

.filters__name-checkbox::before{
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
}

.filters__name-radio::before{
    width: 25px;
    height: 25px;
    background-image: url(../img/radio-off.svg);
}

.filters__checkbox:checked + .filters__name-checkbox::before{
    background-image: url(../img/checkbox-on.svg);
    width: 27px;
}

.filters__radio:checked + .filters__name-radio::before{
    background-image: url(../img/radio-on.svg);
}

.filters__checkbox:hover + .filters__name-checkbox::before,
.filters__radio:hover + .filters__name-radio::before{
    opacity: 1;
}

.filters__checkbox:disabled + .filters__name-checkbox::before,
.filters__radio:disabled + .filters__name-radio::before{
    opacity: 0.3;
}

.filters__checkbox:focus + .filters__name-checkbox::before,
.filters__radio:focus + .filters__name-radio::before{
    -webkit-box-shadow: 0px 0px 0px 2px #a2c2f5;
            box-shadow: 0px 0px 0px 2px #a2c2f5; 
}

.filters__btn{
    padding-right: 38px;
    padding-left: 38px;
    margin-top: 77px;
}

.price{  
    max-width: 702px;
    width: 100%;
    font-family: "PT Sans", Arial, sans-serif;
}

.price ul{
    list-style: none;
}

.price__sorting{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    padding-bottom: 2px;
    border-radius: 4px;
    font-size: 13px;
    background-color: #f7f3ec;
}

.price__sorting-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 455px;
    padding-left: 0;
    margin-left: auto;
}

.price__sorting-list li:not(:first-of-type){
    margin-left: 65px;
}

.price__sorting-list li:nth-of-type(2){
    margin-left: 71px;
}

.price__sorting-title,
.price__sorting-list,
.price__sorting-btns{
    margin-top: 0;
    margin-bottom: 0;
}

.price__sorting-item{
    display: block;
    margin-top: 2px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #ee3643;
    text-transform: uppercase;
    text-decoration: none;
    color: #c7c7c7;
}

.price__sorting-item:hover{
    color: #000000;
    border-bottom: 1px solid #ee3643;
}

.sorting-active,
.sorting-active:hover,
.sorting-active:active{
    border: none;
    color: #ee3643;
}

.price__sorting-btns{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 17px;
    padding-bottom: 10px;
    padding-left: 0;
}

.price__sorting-up,
.price__sorting-down{
    display: block;
    opacity: 0.23;
}

.price__sorting-up{
    padding-right: 21px;
    margin-left: 46px;
}

.price__sorting-up:hover{
    opacity: 1;
}

.price__sorting-down:hover{
    opacity: 1;
}

.price__sorting-active{
    opacity: 1;
}

.price__sorting-active path{
    fill: #ee3643;
}

.price__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
    margin-top: 20px;
}

.price__item{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 222px;
    min-height: 318px;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
    position: relative;
}

.price__item img{
    width: 218px;
    height: 170px;
}

.price__item:hover .price__actions{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.price__item:not(:nth-child(3n)){
    margin-right: 20px;
}

.price__item:hover{
    -webkit-box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
            box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
    color: #293449
}

.price p{
    margin: 0;
    text-align: center;
}

.price__title{
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 160px;
    margin-top: 6px;
    margin-bottom: 97px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
}

.price__title span{
    text-transform: uppercase;
}

.cost__wrapper{
    position: absolute;
    bottom: 20px;
    right: 36px;
}

.price__cost{
    width: 140px;
    padding: 10px;
    padding-top: 11px;
    padding-bottom: 9px;
    color: #ffffff;
    background-color: #ee3643;
}

.price__cost::after{
    content: "";
    position: absolute;
    right: -1px;
    bottom: 0;
    border: 19px solid #ffffff;
    border-left-color: #ee3643;
    border-right: none;
}

.price__cost-sale,
.price__cost{
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.price__cost-sale{
    padding-bottom: 10px;
    text-decoration: line-through;
    color: #999999;
}

.price__actions{
    position: absolute;
    left: 50%; 
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 218px;
    height: 170px;
    font-family: "Cuprum", Arial, sans-serif;
    background-color: #ffffff;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.price__buy,
.price__bookmark{
    display: block;
    max-width: 135px;
    width: 100%;
    border-radius: 3px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.price__buy{
    position: relative;
    color: #ffffff;
    padding: 10px 27px 6px 30px;
    border-bottom: 3px solid #367315;
    background-color: #63a63e;
    margin-bottom: 8px;
}

.price__buy::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 14px;
    width: 15px;
    height: 15px;
    opacity: 0.3;
    background-image: url(../img/icon-cart.svg);
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);    
}

.price__buy:hover{
    background-color: #5fbb2d;
}

.price__buy:hover::before,
.price__buy:active::before{
    opacity: 1;
}

.price__buy:active{
    background-color: #518534;
}

.price__bookmark{
    padding: 8px 10px 8px;
    border: 3px solid #63a63e;
    background-color: #ffffff;
    color: #32425c;
}

.price__bookmark:hover{
    border-color: #32425c;
}

.price__bookmark:active{
    opacity: 0.3;
}

.price__pages{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
    margin-top: 27px;
    margin-right: 9px;
    margin-bottom: 57px;
}

.price__pages li{
    margin-top: 14px;
    margin-bottom: 15px;
    margin-right: 9px;
}

.price__page-number,
.price__page-btn{
    text-decoration: none;
    color: #000000;
}

.price__page-number{
    padding-right: 15px;
    padding-left: 15px;
}

.price__page-btn{
    padding-right: 32px;
    padding-left: 32px;
}

.page-active,
.page-active:hover,
.page-active:active{
    color: #ffffff;
    background-color: #ee3643;
    border-color: #ee3643;
}

.info{
    background-color: #f2f6f8;
}

.info__title{
    padding-top: 62px;
    padding-bottom: 26px;
    margin: 0;
    letter-spacing: 0.2px;
}

.info__text{
    margin: 0;
    letter-spacing: 0.06px;
}

.info__text:last-of-type{
    padding-bottom: 68px;
    letter-spacing: 0.16px;
}

.footer{
    background-color: #32425c;
    color: #ffffff;
}

.footer__top-inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer__logo{
    display: block;
    padding-top: 20px;
    padding-bottom: 18px;
}

.footer a{
    text-decoration: none;
    color: #ffffff;
}

.footer ul{
    list-style: none;
}

.footer li{
    margin-bottom: 10px;
}

.footer li + li{
    padding-left: 60px;
}

.footer__contacts{
    max-width: 335px;
    margin-top: 27px;
    margin-bottom: 49px;
    margin-left: 3px;
    font-size: 18px;
    line-height: 24px;
}

.footer__menu,
.footer__menu-sub{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 600px;
    padding-top: 0px;
    font-size: 18px;
    line-height: 24px;
}

.footer__menu{
    margin-top: 38px;
}

.footer__menu-sub{
    margin-top: 24px;
}

.footer__menu-sub a,
.footer__link a{
    color: #ffd180;
}

.footer__menu a:hover,
.footer__menu-sub a:hover{
    text-decoration: underline;
}

.footer__menu a:active,
.footer__menu-sub a:active{
    opacity: 0.5;
    text-decoration: none;
}

.footer__bottom{
    background-color: #293449;
}

.footer__bottom-inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 22px;
}

.footer__link-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 285px;
    margin-right: 14px;
}

.footer__link:first-of-type{
    padding-right: 52px;
}

.footer__copyright{
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 18px;
    max-width: 230px;
}

.footer__social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 250px;
    padding-left: 42px;
}

.footer__social li{
    margin-bottom: 10px;
}

.footer__social li + li{
   padding-left: 5px;
}

.footer__social a{
    display: block;
    width: 40px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #212a3a;
    border-radius: 50%;
}

.footer__social a:hover,
.footer__social a:active{
    background-color: #ee3643;
}

.vk{
    background-image: url(../img/icon-vk.svg);
    width: 30px;
    height: 17px;
}

.fb{
    background-image: url(../img/icon-fb.svg);
    width: 14px;
    height: 23px;
}

.instagram{
    background-image: url(../img/icon-insta.svg);
    width: 23px;
    height: 23px;
}

.footer__link{
    font-size: 16px;
    line-height: 18px;
}

.footer__link a:hover{
    text-decoration: underline;
}

.footer__link a:active{
    text-decoration: none;
    color: #ee3643;
}

.overlay{
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.overlay-show{
    display: block;
}

.modal{
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 30;
}

.modal__close{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 21px;
    height: 21px;
    border: none;
    background-image: url(../img/icon-close.svg);
    background-color: transparent;
}

.feedback{
    max-width: 620px;
    width: 100%;
    height: 424px;
    border-top: 7px solid #ee3643;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 20px 40px 0px rgba(41, 52, 73, 0.75);
            box-shadow: 0px 20px 40px 0px rgba(41, 52, 73, 0.75);
}

.feedback__form-top,
.feedback__form-bottom{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
}

.feedback__form-top{
    margin-top: 32px;
    margin-bottom: -14px;
}

.feedback__form-bottom{
    margin-top: 6px;
    margin-bottom: 21px;
}

.feedback__form-top p + p{
    margin-left: 20px;
}

.feedback__form-title{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.5px;
}

.feedback__form input,
.feedback__form textarea{
    border: 2px solid #dee3e4;
    border-radius: 2px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.feedback__form input{
    width: 221px;
    padding: 10px 14px;
    padding-top: 7px;
    padding-bottom: 8px;
}

.feedback__form textarea{
    width: 456px;
    height: 112px;
    padding: 8px 12px;
    resize: none;
}

.feedback__form input::-webkit-input-placeholder,
.feedback__form textarea::-webkit-input-placeholder{
    color: #b4b4b4;
}

.feedback__form input::-moz-placeholder,
.feedback__form textarea::-moz-placeholder{
    color: #b4b4b4;
}

.feedback__form input:-ms-input-placeholder,
.feedback__form textarea:-ms-input-placeholder{
    color: #b4b4b4;
}

.feedback__form input::-ms-input-placeholder,
.feedback__form textarea::-ms-input-placeholder{
    color: #b4b4b4;
}

.feedback__form input::placeholder,
.feedback__form textarea::placeholder{
    color: #b4b4b4;
}

.feedback__bottom{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #f4f4f4;
}

.feedback__btn{
    max-width: 460px;
    width: 100%;
    border: none;
    border-radius: 4px/2px;
    margin: 37px 20px;
    text-align: center;
}

.map{
    width: 970px;
    height: 476px;
}

.map__btn{
    top: 24px;
    right: 24px;
}

.map__google{
    position: absolute;
    top: 15px;
    left: 50%;
    width: 940px;
    height: 446px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.adding{
    width: 620px;
    min-height: 275px;
    border-top: 7px solid #ee3643;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 20px 40px 0px rgba(41, 52, 73, 0.75);
            box-shadow: 0px 20px 40px 0px rgba(41, 52, 73, 0.75);
}

.adding__text{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 163px;
    padding: 65px 35px 65px 180px;
    margin: 0;
    font-size: 30px;
    line-height: 30px;
}

.adding__text::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 82px;
    width: 66px;
    height: 66px;
    border: none;
    background-image: url(../img/icon-mark.svg);
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.adding__bottom{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 112px;
    background-color: #f1f1f1;
}

.adding__btn{
    max-width: 220px;
    width: 100%;
}

.adding__btn:first-child{
    margin-right: 22px;
}

.adding__btn:last-child{
    color: #000000;
    background-color: #ffffff;
}

.adding__btn:last-child:hover{
    color: rgba(0, 0, 0, 0.8);
}

.adding__btn:last-child:active{
    color: rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes show-up{
    0%{
        -webkit-transform: translate(-50%, -300%);
                transform: translate(-50%, -300%);
    }
    60%{
        -webkit-transform: translate(-50%, -10%);
                transform: translate(-50%, -10%);
    }
    100%{
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
}

@keyframes show-up{
    0%{
        -webkit-transform: translate(-50%, -300%);
                transform: translate(-50%, -300%);
    }
    60%{
        -webkit-transform: translate(-50%, -10%);
                transform: translate(-50%, -10%);
    }
    100%{
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
}

.modal-show{
    display: block;
    -webkit-animation: show-up 1s ease-out;
            animation: show-up 1s ease-out;
}

@-webkit-keyframes error{
    0%, 100%{
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    10%, 30%, 50%, 70%, 90%{
        -webkit-transform: translate(-48%, -50%);
                transform: translate(-48%, -50%);
    }
    20%, 40%, 60%, 80%{
        -webkit-transform: translate(-52%, -50%);
                transform: translate(-52%, -50%);
    }
}

@keyframes error{
    0%, 100%{
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    10%, 30%, 50%, 70%, 90%{
        -webkit-transform: translate(-48%, -50%);
                transform: translate(-48%, -50%);
    }
    20%, 40%, 60%, 80%{
        -webkit-transform: translate(-52%, -50%);
                transform: translate(-52%, -50%);
    }
}

.modal-error{
    -webkit-animation: error 1s ease-out;
            animation: error 1s ease-out;
}